@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  --primary-color: #ffec8b;
  --submit-btn-bg-color: black;
  --submit-btn-color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: grid;
  place-items: center;
  font-family: "Montserrat", sans-serif;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 20px;
  padding: 2em;
  background: #005e9b;
  margin-top: 1rem;
}

ul {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 25px);
  justify-content: center;
  grid-column-gap: 25px;
  padding: 1rem 1rem;
}

.profile-image {
  border-radius: 50%;
  border: 4px solid white;
  margin-top: 1rem;
}

.profile-name {
  font-size: 2rem;
  font-weight: bolder;
  line-height: 1;
  margin: 1rem auto 0 auto;
}

.profile-position {
  margin: 0 auto 1rem auto;
  color: rgb(170, 140, 56);
  font-weight: 700;
  border-bottom: 1px solid green;
}

.iconHover:hover {
  color: wheat;
}

p {
  color: rgb(58, 15, 15);
  padding: 1rem;
}

@media (max-width: 720px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
