@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  --primary-color: #ffec8b;
  --submit-btn-bg-color: black;
  --submit-btn-color: white;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: grid;
  place-items: center;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 20px);
  justify-content: center;
  grid-column-gap: 15px;
  padding: 1rem 1rem;
  margin: 0 1rem;
}

.card {
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 20px;
  padding: 1em;
  background: #005e9b;
  margin-top: 2rem;
}
